html, body {
	max-width: 100%;
}

p {
	background-color: red;
	color: white;
}
.canvasWrapper {
	margin-top: 8px;
	justify-content: center;
}
canvas {
	margin: 10px;
	border: 1px dashed black;
	transform-origin: top center;
	transform: scale(1);
}

.flex {
	display: flex;
}
.row {
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}
.col {
	flex-basis: 0;
	flex-grow: 1;
}

.shadow-sm {
	box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 40%);
}
.shadow-md {
	box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 50%);
}